:host {
  background-color: #fff;
  display: block;

  .header-container {
    display: grid;
    height: 130px;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0 90px;
    max-width: 1500px;
    margin: 0 auto;
    h1 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}
