:host {
  display: grid;
  height: 130px;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;

  padding:0 90px;
  h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
