<div class="or-heading-group">
  <h1 class="or-panel-heading">User List</h1>
  <div class="or-heading-group__actions-container">
    <button class="or-button" (click)="select.emit({ })">
      Create
    </button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="or-table">

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user" (click)="select.emit(user)"> {{ user.username }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

</table>

<mat-paginator class="or-paginator">
  showFirstLastButtons
  [pageSizeOptions]="pageSizeOptions"
</mat-paginator>
