@use 'src/scss/breakpoints';

:host {
  height: 100%;
  min-height: 100vh;

  mat-drawer {
    width: 100%;
  }

  mat-drawer-container {
    height: 100%;
    min-height: 100vh;
  }

  mat-drawer-content {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  main {
    padding: 60px 40px 30px 40px;
  }
}

@media only screen and (min-width: breakpoints.$screen-md-min) {
  :host {
    display: block;
    app-mobile-header {
      display: none;
    }

    mat-drawer-content {
      grid-template-columns: auto 1fr;
    }

    div[appWorkspacePanel],
    mat-drawer {
      width: 250px;
      box-sizing: border-box;
      height: 100vh;
      overflow-y: auto;
    }
  }
}
