<mat-drawer-container>
  <mat-drawer mode="over" #drawer>
    <app-sidenav
    (logoutClicked)="handleLogoutClick()"
    (closeClick)="handleSidenavCloseClick()"
    (titleClick)="handleTitleClick()">

    </app-sidenav>
  </mat-drawer>

  <mat-drawer mode="over" #rightDrawer position="end">

  </mat-drawer>

  <mat-drawer-content>
    <div appWorkspacePanel>
      <div class="g-panel-heading">
        <h1 class="g-brand" (click)="handleTitleClick()">Huntress</h1>
        <button mat-icon-button (click)="handleSidenavMenuClick()">
          <mat-icon>
            menu
          </mat-icon>
        </button>
      </div>
    </div>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
