.or-actions {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
    column-gap: 20px;

    button {
        min-width: 108px;
    }
}

.or-actions {
  display: flex;
  justify-content: end;
  width: 100%;
}
