.g-heading-group {
  display: grid;
  grid-template-columns: 1ft auto;

  .g-heading-group__actions-container {
    display: grid;
    place-items: center;
  }
}


.or-heading-group {
  display: grid;
  grid-template-columns: 1fr auto;

  .or-heading-group__actions-container {
    display: grid;
    place-items: center;
  }
}


