ul.g-list {

  padding:0;
  margin: 0px 0px 60px;
  list-style: none;
  display: block;
  box-sizing: border-box;

  li {
    padding:0;
    margin:0;
    list-style: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
    column-gap: 10px;
    padding: 10px 0px;
  }
}
