.or-workspace-panel {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  padding:45px 30px;
  box-sizing: border-box;
}

.or-panel-heading {
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center start;
}


.or-panel {
  padding: 0px 20px 20px;
  box-sizing: border-box;
}

