.or-button {
  display: flex;
  background-color: #fff;
  color: rgba(0,0,0,0.85);
  border-radius: 20px;
  padding: 8px 28px;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 300ms;
  &[disabled] {
    opacity: 0.3;
  }
}


