@use 'src/scss/breakpoints';

.or-list-detail-container {
  display: block;

  .or-list-detail-container--list {
    display: none;
  }

  &--list-view {
    .or-list-detail-container--detail {
      display: none;
    }
    .or-list-detail-container--list {
      display: block;
    }
  }
}


@media screen and (min-width: breakpoints.$screen-md-min) {
  .or-list-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    .or-list-detail-container--list,
    .or-list-detail-container--detail {
      display: block;
    }
  }
}
