@use 'src/scss/breakpoints';

.or-list-detail-container {
  display: block;
  & > *:nth-child(1) {
    display: none;
  }
}

.or-list-detail-container--list-view.or-list-detail-container {
  & > *:nth-child(1) {
    display: block;
  }

  & > *:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: breakpoints.$screen-lg-min) {
  .or-list-detail-container,
  .or-list-detail-container--list-view.or-list-detail-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    & > *:nth-child(1),
    & > *:nth-child(2) {
      display: block;
    }
  }
}
