<ng-container *ngIf="vm$ | async as vm">

  <app-bento-box>
    <div [main]>
      <h2>Role: {{ vm.role.name }}</h2>
    </div>
  </app-bento-box>

  <a class="g-link" [routerLink]="['/','workspace','roles']">Roles</a>

  <h3>Privileges</h3>

  <div class="role__privileges-container">

    <app-aggregate-privilege *ngFor="let aggregatePrivilege of vm.role.aggregatePrivileges"

    [aggregatePrivilege]="aggregatePrivilege"

    [accessRights]="accessRights"

    [aggregates]="aggregates"

    (add)="handleAdd($event)"

    (remove)="handleRemove($event)">

    </app-aggregate-privilege>
  </div>


</ng-container>
