<div *ngIf="vm$ | async as vm">

  <div class="g-heading-group">

    <h2>User List</h2>

    <div class="g-heading-group__actions-container">
      <button mat-raised-button (click)='create()' class="g-button">Create</button>
    </div>
  </div>


  <table mat-table [dataSource]="vm.dataSource" class="g-table">

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <button mat-icon-button (click)="edit(user)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="vm.columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let data; columns: vm.columnsToDisplay"></tr>

  </table>

  <mat-paginator #paginator [length]="vm.length$ | async" [pageSize]="vm.pageSize" [pageSizeOptions]="[5, 10, 20]" class="g-paginator" (page)="vm.dataSource.getPage({ pageIndex: paginator.pageIndex, pageSize: vm.pageSize })"></mat-paginator>

</div>

