<h1 *ngIf="!content.contentId" class="or-panel-heading">Create Content</h1>
<h1 *ngIf="content.contentId" class="or-panel-heading">Edit Content</h1>


<form [formGroup]="form" class="or-form">
  <div class="or-field">
    <label class="or-label">Name</label>
    <input type="text" formControlName="name" autocomplete="off" class="or-input">
  </div>

  <div class="or-field">
    <or-html-editor></or-html-editor>
  </div>

  <div class="or-field">
    <or-html-editor></or-html-editor>
  </div>

  <div class="or-field">
    <or-html-editor></or-html-editor>
  </div>
</form>

<div class="or-actions">
  <button class="or-button" (click)="save.emit(form.value)" [disabled]="!form.valid || form.pristine">
    Save
  </button>
</div>
