:host {
  display: block;

  .product-container {
    max-width: 1500px;
    padding-top:60px;
    margin:0 auto;
    box-sizing: border-box;
    display: grid;
    gap:60px;
    grid-template-columns: 1fr 1fr;
    button {
      display: block;
      margin:0 auto;
    }

    .product__description-container {
      h1 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }
    .product__image-container {
      display: grid;
      place-items: center;
    }
  }

}
