<div *ngIf="vm$ | async as vm">

  <h1 class="mat-headline">DigitalAsset List</h1>

  <button mat-raised-button (click)='create()'>Create</button>

  <table mat-table [dataSource]="vm.dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let digitalAsset"> {{ digitalAsset.name }} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td style="width:100px" mat-cell *matCellDef="let digitalAsset">
            <button mat-icon-button (click)="edit(digitalAsset)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="vm.columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let data; columns: vm.columnsToDisplay"></tr>

  </table>

  <mat-paginator #paginator [length]="vm.length$ | async" [pageSize]="vm.pageSize" [pageSizeOptions]="[5, 10, 20]" class="mat-elevation-z8" (page)="vm.dataSource.getPage({ index: paginator.pageIndex, pageSize: vm.pageSize })"></mat-paginator>

</div>

