<ng-container *ngIf="vm$ | async as vm">
  <mat-drawer-container>
    <mat-drawer #drawer mode="over" class="g-drawer">
      <div class="mat-drawer__close-button-container">
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <ul>
        <li>
          <a cdkFocusInitial>HOME</a>
        </li>
        <li>
          <a>SHOP</a>
        </li>
        <li>
          <a>LOGIN</a>
        </li>
      </ul>
    </mat-drawer>

    <app-header (click)="drawer.open()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>

    <app-footer
    [aboutHtmlContent]="vm.about.body"
    [followUsHtmlContent]="vm.followUs.body"
    [returnPolicyHtmlContent]="vm.returnPolicy.body"
    [contactHtmlContent]="vm.contact.body"></app-footer>

  </mat-drawer-container>

</ng-container>
