

<ng-container *ngIf="vm$ | async as vm">

  
  <mat-drawer-container>
    <mat-drawer #drawer mode="over" class="or-drawer">
      <div class="mat-drawer__close-button-container">
        <button mat-icon-button (click)="drawer.close()">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <ul>
        <li>
          <a cdkFocusInitial class="or-router-link">HOME</a>
        </li>
        <li>
          <a class="or-router-link">SHOP</a>
        </li>
        <li>
          <a routerLink="/login" class="or-router-link">LOGIN</a>
        </li>
      </ul>
    </mat-drawer>

    
    
    <mat-drawer #auxDrawer mode="over" class="or-aux-drawer" [opened]="opened$ | async" position="end">
      <or-cart></or-cart>      
    </mat-drawer>

    <mat-drawer-content>


      <app-header (click)="drawer.open()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
  
      <app-footer
      [aboutHtmlContent]="vm.about"
      [followUsHtmlContent]="vm.followUs"
      [returnPolicyHtmlContent]="vm.returnPolicy"
      [contactHtmlContent]="vm.contact"></app-footer>
    </mat-drawer-content>



  </mat-drawer-container>

</ng-container>
