<div class="or-panel-heading">
  <h1 class="or-brand" (click)="titleClick.emit()">Huntress</h1>
  <button mat-icon-button (click)="closeClick.emit()">
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>

<ul>
  <li>
    <a cdkFocusInitial [routerLink]="['/','workspace']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/','workspace','contents']">Content Management</a>
  </li>
  <li>
    <a [routerLink]="['/','workspace','products']">Products</a>
  </li>
  <li>
    <a [routerLink]="['/','workspace','orders']">Orders</a>
  </li>
  <li>
    <a [routerLink]="['/','workspace','digital-assets']">Digital Assets</a>
  </li>
  <li>
    <a [routerLink]="['/','workspace','users']">Users</a>
  </li>
  <li>
    <a [routerLink]="['/','workspace','roles']">Roles</a>
  </li>
  <li>
    <a (click)="logout()">Logout</a>
  </li>
</ul>
