
<div class="cart__header">
  <h1>Cart</h1>
  <button mat-icon-button>
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>

<ng-container *ngIf="products$ | async as products">

  <div class="cart__content" *ngIf="products.length > 0; else empty">
    <div *ngFor="let product of products">
      <h2>{{ product.name }}</h2>
      <app-quantity></app-quantity>
    </div>
  </div>

  <ng-template #empty>
    <div class="cart__content--empty">
      <p>Your cart is currently empty.</p>
    </div>
  </ng-template>

  <div class="cart__footer" *ngIf="products.length > 0">
    <button mat-raised-button color="primary" (click)="checkout$.next()">
      CHECK OUT
    </button>
  </div>
</ng-container>

