
<div class="cart__header">
  <h1>Cart</h1>
  <button mat-icon-button (click)="close$.next()">
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>

<ng-container *ngIf="formArray$ | async as formArray">

  <div class="cart__content" *ngIf="formArray.controls.length > 0; else empty">
    <app-cart-item *ngFor="let formControl of formArray.controls" [formControl]="formControl">
    </app-cart-item>
  </div>

  <ng-template #empty>
    <div class="cart__content--empty">
      <p>Your cart is currently empty.</p>
    </div>
  </ng-template>

  <div class="cart__footer" *ngIf="formArray.controls.length > 0">
    <button mat-raised-button color="primary" (click)="checkout$.next()">
      CHECK OUT
    </button>
  </div>
</ng-container>

