:host {
  display: block;
  position: relative;
  height: 900px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
