<!-- <ng-container *ngIf="vm$ | async as vm">
    
    <div class="cart__header">

        <h1>Cart</h1>

        <button mat-icon-button (click)="close.emit()">
            <mat-icon>
            close
            </mat-icon>
        </button>

    </div>
    
    <div class="cart__content" *ngIf="vm.products.controls.length > 0; else empty">
        <or-cart-item *ngFor="let formControl of formArray.controls" [formControl]="formControl" [name]="formControl.value.name">
        </or-cart-item>
    </div>

    <ng-template #empty>
        <div class="cart__content--empty">
        <p>Your cart is currently empty.</p>
        </div>
    </ng-template>

    <div class="cart__footer" *ngIf="formArray.controls.length > 0">
        <button mat-raised-button color="primary" (click)="checkout.emit()">
        CHECK OUT
        </button>
    </div>

</ng-container>
   -->