
:host {
  display: block;
  background-color: #fff;
  padding:60px;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;

  h1 {
    padding-bottom: 30px;
  }

  mat-form-field {
      display: block;
  }

  mat-card-title, form {
      padding-bottom: 30px;
  }
}
